<h1>Книги</h1>
</a>


          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="{% url 'student_list' %}">TODO</a></li>


            <li><a class="dropdown-item" href="#">Регистрация</a></li>


            <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>

            <li><hr class="dropdown-divider"></li>

            <li><a class="dropdown-item" href="#">Авторизация</a></li>

          </ul>
<ol>
  {% for i in books %}
  <li>
    <h2>{{ i.title }}</h2>
    <img src="{{ i.image.url }}" alt="" width="400" height="350">
    <p>{{ i.created_at }}</p>
    <a href="/book_detail/{{i.id}}/">Подробнее</a>
  </li>
  {% endfor %}
</ol>
ё